.imgs{
    margin-top: 5vh;
    position: relative;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.imgs img{
    width: 3rem;
    height: 3rem;
    opacity: 0.5;
    filter: drop-shadow(0 0 1rem rgb(0, 174, 255));
}

#title{
    font-size: 2.5rem;
    color: rgb(209, 209, 209);
    text-align: center;
    margin-top: 5vh;
    filter: drop-shadow(0 0 1rem rgba(175, 107, 252, 0.747));
}

#search-bar{
    margin-top: 2vh;
    display: flex;
    width: 50%;
    justify-content: center;
    position: relative;
}

#search{
    width: 100%;
    background-color: transparent;
    outline-style: none;
    border: .0625rem solid rgb(209, 209, 209);
    border-radius: 1rem;
    padding-left: 1rem;
    height: 2rem;
    font-size: 1.25rem;
    color: rgb(209, 209, 209);
}

#search-btn{
    position: relative;
    background-image: url("../imgs/search.png");
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    cursor: pointer;
    right: 2.1875rem;
    top: .125rem;
}

#container-intern{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: fit-content;
    border-radius: 1rem;
    background-color: rgba(80, 80, 80, 0.158);
    box-shadow: 0 0 1rem rgba(175, 107, 252, 0.747);
    padding-top: .875rem;
    overflow-y: auto;
}

#form-intern{
    font-size: 1.75rem;
    color: rgb(51, 158, 207);
    margin-left: 1rem;
    margin-bottom: 0.875rem;
}

input{
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    height: 2.1875rem;
    border-radius: 1rem;
    padding-left: .75rem;
    outline-style: none;
    border: none;
    background: rgba(56, 56, 56, 0.5);
    color: rgb(192, 192, 192);
    width: 40%;
    margin-left: 1rem;
}

.btn-form{
    margin-top: 1rem;
    width: 10rem;
    height: 2.1875rem;
    padding-left: 0;
    background: rgba(56, 56, 56, 0.5);
    color: rgb(192, 192, 192);
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color:rgba(226, 47, 47, 0.616);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.btn-form:hover {
    box-shadow: 0px 0px 1rem rgba(241, 108, 108, 0.884);
    transform: translateY(-.5rem);
}

.hide{
    display: none !important;
}